<div class="alignBtnColumn">
  <div class="mission-header header">
    <span class="mission-title">MISSION CONTROL</span>
    <span class="mission-details">
      Active Mission: NA | Location: NA | Coordinates: &lt;&gt;
    </span>
    <button mat-raised-button color="accent" class="target-lock-btn">
      TARGET LOCK
    </button>
  </div>
  <div class="meta-section">
    <div class="metabutton-group">
      <button
        (click)="nevigateToLaunchDrone()"
        mat-raised-button
        color="warn"
        class="mission-btn"
      >
        🚀 LAUNCH DRONE
      </button>
      <!-- <button mat-raised-button color="primary" class="mission-btn">
        ❌ ABORT DRONE RECON MISSION
      </button>
      <button mat-raised-button color="success" class="mission-btn">
        💀 LAUNCH DRONE INTERCEPTOR
      </button> -->
    </div>
    <div class="live-vedio-analysis-section">
      <h4>Live vedio Intelligence</h4>
    </div>
  </div>
</div>
