.example-spacer {
  flex: 1 1 auto;
}

.main-logo{
  width: 3.2rem;
}

.main-heading{
  color: teal;
  font-weight: bold;
  font-size: 2rem;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
}