<mat-grid-list cols="10" rowHeight="1:0.42" gutterSize="5px" class="main-grid">
  <!-- Center Content Section -->
  <mat-grid-tile colspan="8" rowspan="8" class="center-content">
    <p>Any One of the below sensor Live feed Can be drag and drop over here</p>
  </mat-grid-tile>

  <!-- Metadata Section -->
  <mat-grid-tile colspan="2" rowspan="8" class="metadata">
    <div>
      <h4>Live MetaData</h4>
    </div>
  </mat-grid-tile>

  <!-- Footer Section -->
  <mat-grid-tile colspan="2" rowspan="3" class="footer">
    <p>Sensor1</p>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3" class="footer">
    <p>Sensor2</p>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3" class="footer">
    <p>Sensor3</p>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3" class="footer">
    <p>Sensor4</p>
  </mat-grid-tile>

  <!-- Map Section -->
  <mat-grid-tile colspan="2" rowspan="3" class="map">
    <h4>India Map With Coordinates</h4>
    <app-ind-map></app-ind-map>
  </mat-grid-tile>
</mat-grid-list>
