.main-grid {
  height: 100vh;
  width: 100%;
}

.header {
  text-align: center;
  font-weight: bold;
  background-color: #e0e0e0;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  font-size: 1.2em;
  text-align: center;
  /*   border: 2px dashed #ccc; */
}

.metadata {
  padding: 16px;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background: #eaeaea;
  margin: 5px;
  transition: background-color 0.3s ease;
}

/* .footer:hover {
  background-color: #d5c8c8;
} */

.highlighted {
  background-color: #a4c9ff;
  border-color: #7da1ff;
  font-weight: bold;
}
.map {
  text-align: center;
  background-color: #e3f2fd;
  font-weight: bold;
}

.metadata {
  padding: 16px;
}

.meta {
  font-size: larger;
}

.notification {
  margin-bottom: 8px;
  color: white;
  padding: 8px;
}

.notification.red {
  background-color: #d32f2f;
}

.notification.green {
  background-color: #388e3c;
}

.summary {
  margin-top: 16px;
}

.sensors {
  margin-top: 16px;
  display: flex;
  /* padding: 1rem; */
  font-size: large;
  /* flex-direction: row; */
}

.child-sensor{
  max-width: 7rem;
  margin-right: 0.75rem;
}



/* Container for mission control */
.metabutton-container {
  background-color: #1f1f1f;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Header styling */
.mission-header {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.mission-header .mission-title {
  font-size: 18px;
  font-weight: bold;
}

.mission-header .mission-details {
  font-size: 14px;
  margin-left: auto;
  margin-right: 10px;
}

.target-lock-btn {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
}

/* Button group styling */
.metabutton-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.mission-btn {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  padding: 0.8rem;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.mission-btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* Specific button colors */
.mission-btn[color="warn"] {
  background-color: #d32f2f;
  color: white;
}

.mission-btn[color="primary"] {
  background-color: #1976d2;
  color: white;
}

.mission-btn[color="success"] {
  background-color: #388e3c;
  color: white;
}

.alignBtnColumn{
  display: flex;
  flex-direction: column;
}