<app-header></app-header>
<div class="d-flex h-100">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="main-content w-100 live-wrapper">
    <mat-grid-list cols="12" rowHeight="fit" class="main-grid">
      <mat-grid-tile colspan="9" rowspan="8" class="center-content">
        <!--  <img [src]="videoStreamUrl" alt="Live Stream" class="video" /> -->
        <app-live-feed class="full"></app-live-feed>
      </mat-grid-tile>

      <mat-grid-tile colspan="3" rowspan="8" class="metadata">
        <div class="meta">
          <mat-card class="card first-card">
            <mat-card-content style="overflow-y: scroll;"> 
<!--               <p class="notification red">[!] Enemy troops detected at 1125 Hrs</p>
              <p class="notification red">[^] Drone recon launched at 1137 Hrs</p>
              <p class="notification red">[^] Drone recon launched at 1137 Hrs</p>
              <p class="notification red">[^] Drone recon launched at 1137 Hrs</p>
              <p class="notification red">[^] Drone recon launched at 1137 Hrs</p>
              <p class="notification red">[^] Drone recon launched at 1137 Hrs</p>
              <p class="notification red">[^] Drone recon launched at 1137 Hrs</p>
              <p class="notification red">[^] Drone recon launched at 1137 Hrs</p> -->
              <div *ngFor="let alert of alerts" class="alert">
                <p>{{ alert.message }}</p>
                <button
                  mat-icon-button
                  color="warn"
                  aria-label="Dismiss alert"
                  (click)="dismissAlert(alert.id)"
                >
                  ✖
                </button>
              </div>
            </mat-card-content>
  
          </mat-card>
        <!-- Enemy Movement Summary -->
        <mat-card class="card second-card">
          <!-- <button mat-flat-button style="width: 5rem;" >Open</button> -->
        <mat-card-content>
        <div class="summary">
          <p>
            <strong>Enemy movement summary:</strong> soldiers detected by multiple
            optical sensors at &lt;location&gt;
          </p>
          <p><strong>DRONE ></strong> Tracking 10 enemy personnel</p>
        </div>
        <!-- Sensor Details -->
        <div class="sensors">
          <div class="child-sensor">
            <h5 style="font-weight: bold">PTZ</h5>
            <p>
              10 soldiers in field of view Start Time<br />
              End Time
            </p>
          </div>
          <div class="child-sensor">
            <h5 style="font-weight: bold">RAJAK</h5>
            <p>
              3 soldiers in field of view Start Time<br />
              End Time
            </p>
          </div>
          <div class="child-sensor">
            <h5 style="font-weight: bold">HTTI</h5>
            <p>
              1 soldier in field of view Start Time<br />
              End Time
            </p>
          </div>
        </div>
        </mat-card-content>
      </mat-card>
      </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="9" rowspan="3" class="mission-control-wrapper">
        <app-mission-control
          class="full"
          style="background-color: #c3c3c3"
        ></app-mission-control>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="3" class="map">
        <app-ind-map></app-ind-map>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
