<app-header></app-header>
<div class="d-flex h-100">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="main-content w-100 live-wrapper">
    <div class="box">
      <div class="left-section">
        <ng-container *ngFor="let drone of drones">
          <div
            class="part"
            [class.selected]="selectedDrone?.name === drone.name"
            (click)="selectDrone(drone)"
          >
            <div class="status-card">
              <span
                class="status-dot"
                [ngClass]="{ online: drone.isOnline, offline: !drone.isOnline }"
              ></span>
              <span>{{ drone.isOnline ? "Live" : "Offline" }}</span>
            </div>
            <div class="content">
              <div class="overlay">{{ drone.name }}</div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="middle-section">
        <div class="btn-group">
          <button
            mat-flat-button
            class="mission-btn"
            [disabled]="
              !selectedDrone?.isOnline || missionType == 'interceptor'
            "
            (click)="hanldeMissionRecon()"
          >
            Launch Recon Mission
            <span class="btn-active" *ngIf="missionType == 'recon'"
              >Active</span
            >
          </button>
          <button
            mat-flat-button
            class="mission-btn"
            [disabled]="!selectedDrone?.isOnline || missionType == 'recon'"
            (click)="hanldeInterceptor()"
          >
            Launch Intreceptor
            <span class="btn-active" *ngIf="missionType == 'interceptor'"
              >Active</span
            >
          </button>
        </div>
        <div class="video-container">
          <video autoplay muted loop>
            <source src="assets/video/drone.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="right-section"></div>
    </div>
  </div>
</div>
