<div class="box">
  <div class="left-section" *ngIf="!isMiniplayerMode">
    <ng-container *ngFor="let drone of drones">
      <div
        class="part"
        [class.selected]="selectedDrone?.name === drone.name"
        (click)="selectDrone(drone)"
      >
        <div class="status-card">
          <span
            class="status-dot"
            [ngClass]="{ online: drone.isOnline, offline: !drone.isOnline }"
          ></span>
          <span>{{ drone.isOnline ? "Live" : "Offline" }}</span>
        </div>
        <div class="content">
          <div class="overlay">{{ drone.name }}</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="middle-section">
    <div class="btn-group" *ngIf="!isMiniplayerMode">
      <button
        type="button"
        class="btn btn-primary mission-btn btn-lg"
        [disabled]="!selectedDrone?.isOnline || missionType == 'interceptor'"
        (click)="hanldeMissionRecon()"
        *ngIf="!(hideBtn && missionType == 'interceptor')"
        style="border-radius: 25px"
      >
        Launch Recon Mission
        <span class="btn-active" *ngIf="missionType == 'recon'">Active</span>
      </button>

      <button
        type="button"
        class="btn btn-primary mission-btn btn-lg"
        [disabled]="!selectedDrone?.isOnline"
        (click)="hanldeInterceptor()"
        *ngIf="!(hideBtn && missionType == 'recon')"
        style="border-radius: 25px"
      >
        Launch Intreceptor
        <span class="btn-active" *ngIf="missionType == 'interceptor'"
          >Active</span
        >
      </button>
      <button
        type="button"
        class="btn btn-primary abort-btn btn-lg"
        *ngIf="!!missionType"
        (click)="abortMission()"
        style="border-radius: 25px"
      >
        Abort Mission
      </button>
    </div>
    <div
      class="video-container"
      style="display: flex; justify-content: center; align-items: center"
    >
      <!-- <video
        *ngIf="missionType == 'recon' || missionType == 'interceptor'"
        autoplay
        muted
        loop
      >
        <source src="assets/video/set10.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video> -->
      <div
        *ngIf="
          loading && (missionType == 'recon' || missionType == 'interceptor')
        "
        class="loader"
      ></div>
      <img
        *ngIf="missionType == 'recon' || missionType == 'interceptor'"
        [src]="videoStreamUrl"
        alt="Live Stream"
        class="video-side"
      />
      <p
        *ngIf="missionType != 'recon' && missionType != 'interceptor'"
        style="margin-top: 20%; font-size: larger"
      >
        No Drone Feed Available, Please start the mission to see the Drone Feed!
      </p>
    </div>
  </div>
  <div class="right-section" *ngIf="!isMiniplayerMode">
    <div class="card flight-card">
      <h5 style="color: red">Flight Path</h5>
      <hr />
      <!-- <img
        *ngIf="missionType == 'recon' || missionType == 'interceptor'"
        src="assets/bss/flight_path.png"
        alt="Flight path"
        style="height: 85%"
        class="flight_path_image"
      /> -->
      <app-drone-map *ngIf="missionType == 'recon' || missionType == 'interceptor'"></app-drone-map>
      <!-- <app-map *ngIf="missionType == 'recon' || missionType == 'interceptor'"></app-map> -->
      <!-- <div class="no-data" > -->
      <p
        *ngIf="missionType != 'recon' && missionType != 'interceptor'"
        style="font-size: larger"
        class="no-data flight_path_image"
      >
        No Drone Flight Path Available!
      </p>
    </div>
    <div class="card meta-data-card">
      <h5 style="color: red">Drone Meta Data</h5>
      <hr />
      <div class="content">
        <p
          *ngIf="missionType != 'recon' && missionType != 'interceptor'"
          style="font-size: larger; margin-top: 20%"
          class="no-data flight_path_image"
        >
          No Meta Data Available!
        </p>
        <div *ngIf="missionType == 'recon' || missionType == 'interceptor'">
          <div class="metadata-section">
            <p class="pragraph-section">
              <strong>Altitude:</strong> {{ altitude }} m
            </p>
            <p class="pragraph-section">
              <strong>Speed:</strong> {{ speed }} km/h
            </p>
            <p class="pragraph-section"><strong>Heading:</strong> East</p>
            <p class="pragraph-section">
              <strong>GPS:</strong> {{ gps.latitude.toFixed(3) }}° N,
              {{ gps.longitude.toFixed(3) }}° W
            </p>
          </div>
          <div class="metadata-section">
            <h4 class="heading-4">Status</h4>
            <p class="pragraph-section"><strong>Battery:</strong> 78%</p>
            <p class="pragraph-section">
              <strong>Signal Strength:</strong> Strong (4 bars)
            </p>
            <p class="pragraph-section"><strong>Wind Speed:</strong> 12 km/h</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
