<app-header></app-header>
<div class="dashboard-container">
  <!-- Top Row Summary -->
  <div class="summary-grid">
    <mat-card class="summary-card">
      <div class="card-content">
        <div class="icon-column">
          <mat-icon class="summary-icon location-icon">location_on</mat-icon>
        </div>
        <div class="text-column">
          <h3>Locations</h3>
          <p>6</p>
        </div>
      </div>
    </mat-card>
    <mat-card class="summary-card">
      <div class="card-content">
        <div class="icon-column">
          <mat-icon class="summary-icon alert-icon">notifications</mat-icon>
        </div>
        <div class="text-column">
          <h3>Active Alerts</h3>
          <p>1</p>
        </div>
      </div>
    </mat-card>
    <mat-card class="summary-card">
      <div class="card-content">
        <div class="icon-column">
          <mat-icon class="summary-icon mission-icon">task</mat-icon>
        </div>
        <div class="text-column">
          <h3>Active Missions</h3>
          <p>0</p>
        </div>
      </div>
    </mat-card>
  </div>

  <!-- Second and Third Rows -->
  <div class="photo-grid">
    <mat-card class="photo-card" style="cursor: pointer;" *ngFor="let photo of photos; let i = index" (click)="navigateToLiveFeed(photo)">
    <div class="photo-wrapper">
    <!-- Label and Last Update -->
    <div class="photo-header">
        <h4 class="photo-label">{{ photo.label }}</h4>
        <p class="photo-update">Last update {{ photo.lastUpdate }} sec ago</p>
    </div>
    <!-- Photo -->
    <img [src]="photo.url" [alt]="photo.label" />
    <!-- Active alert overlay -->
    <div class="alert-overlay" *ngIf="i === activeAlertIndex">
        <div class="alert-animation">ALERT - Movement Detected</div>
    </div>
    </div>
    </mat-card>
  </div>
</div>
