<app-header></app-header>
<div class="d-flex h-100">
  <app-sidebar></app-sidebar>
  <div class="main-content w-100">
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile aria-colspan="1">
        <mat-card
          class="card"
          style="
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background-color: #d7ede6;
          "
          (click)="nevigateToLiveFeed()"
        >
          <!-- <mat-card-title class="card-title">First</mat-card-title> -->
          <mat-card-content>
            <h2>BSS 1</h2>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile aria-colspan="1">
        <mat-card
          class="card"
          style="
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background-color: #d3e0f7;
          "
          (click)="nevigateToLiveFeed()"
        >
          <!-- <mat-card-title class="card-title">First</mat-card-title> -->
          <mat-card-content>
            <h2>BSS 2</h2>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile aria-colspan="1">
        <mat-card
          class="card"
          style="
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background-color: #d3f2d3;
          "
          (click)="nevigateToLiveFeed()"
        >
          <!-- <mat-card-title class="card-title">First</mat-card-title> -->
          <mat-card-content>
            <h2>BSS 3</h2>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile aria-colspan="1">
        <mat-card
          class="card"
          style="
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background-color: #d3d9d9;
          "
          (click)="nevigateToLiveFeed()"
        >
          <!-- <mat-card-title class="card-title">First</mat-card-title> -->
          <mat-card-content>
            <h2>BSS 4</h2>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile aria-colspan="1">
        <mat-card
          class="card"
          style="
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background-color: #ebdbd6;
          "
          (click)="nevigateToLiveFeed()"
        >
          <!-- <mat-card-title class="card-title">First</mat-card-title> -->
          <mat-card-content>
            <h2>BSS 5</h2>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile aria-colspan="1">
        <mat-card
          class="card"
          style="
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background-color: #efdae5;
          "
          (click)="nevigateToLiveFeed()"
        >
          <!-- <mat-card-title class="card-title">First</mat-card-title> -->
          <mat-card-content>
            <h2>BSS 6</h2>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
