<div class="live-feed-container">
  <mat-grid-list cols="12" rowHeight="fit" class="main-grid">
    <mat-grid-tile colspan="9" rowspan="8" class="center-content">
      <app-live-feed class="full"></app-live-feed>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="8" class="metadata">
      <div class="meta">
        <div class="card first-card">
          <div
            class="heading"
            style="
              background: linear-gradient(
                135deg,
                #4b5320,
                #6b8e23,
                #556b2f,
                #3e4b2b
              );
              color: white;
            "
          >
            <h5>Alerts</h5>
          </div>
          <hr />
          <mat-card-content
            *ngIf="alerts.length > 0"
            style="overflow-y: scroll; padding: 10px"
          >
            <div
              *ngFor="let alert of alerts"
              class="alert alert-danger"
              role="alert"
            >
              <p>{{ alert.message }}</p>
              <i
                class="fa fa-close"
                style="cursor: pointer"
                (click)="dismissAlert(alert.id)"
              >
              </i>
            </div>
          </mat-card-content>
          <div *ngIf="alerts.length == 0" class="no-alert">
            <strong>No Alerts</strong>
          </div>
        </div>
        <app-meta-data></app-meta-data>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="9" rowspan="3" class="mission-control-wrapper">
      <app-mission-control class="full"></app-mission-control>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="3" class="map">
      <!-- <Img src="assets/bss/map.png" /> -->
      <!-- <app-map></app-map> -->
      <div class="card first-card">
        <mat-card-content style="height: 13rem; width: 27rem">
          <!-- <Img style="width: 100%;" src="assets/bss/map.png" /> -->
          <app-map></app-map>
        </mat-card-content>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>