/* Add a gap between app-header and the main content */
.d-flex {
  margin-top: 20px; /* Adjust this value to control the gap */
  display: flex;
  align-items: stretch; /* Ensure both items align properly */
  gap: 10px; /* Horizontal gap between children */
}

.live-feed-container{
  /* margin-left: 40px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f5f5;
}
/* Add a gap between app-sidebar and live-wrapper */
.sidebar {
  flex: 0 0 auto; /* Sidebar keeps its size */
}

.live-wrapper {
  flex: 1; /* Live wrapper takes up remaining space */
}

.main-grid {
  height: 99vh;
  width: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  text-align: center;
  /*   border: 2px dashed #ccc; */
}

.metadata {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background: #eaeaea;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.video {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
/* .footer:hover {
  background-color: #d5c8c8;
} */

.highlighted {
  background-color: #a4c9ff;
  border-color: #7da1ff;
  font-weight: bold;
}
.map {
  text-align: center;
  background-color: #fafafa;
  font-weight: bold;
  margin-top: 10px; /* Adjust this value to control the gap */
}

.meta {
  font-size: larger;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.meta .card {
  flex: 1; /* Split the available space equally between mat-cards */
  display: flex; /* Ensure mat-card can properly handle its content */
  flex-direction: column; /* Allow content within mat-card to stack */
  margin-bottom: 20px; /* Optional: Add spacing between mat-cards */
  overflow: hidden; /* Prevent overflow of content */
}

.meta .card:last-child {
  margin-bottom: 0; /* Remove margin for the last card */
}

.mat-card-content {
  flex: 1; /* Ensures mat-card content grows properly */
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.notification {
  margin-bottom: 8px;
  color: white;
  padding: 8px;
}

.notification.red {
  background-color: #bb1a1a;
}

.notification.green {
  background-color: #388e3c;
}

.summary {
  margin-top: 16px;
}
@media (min-width: 1280px) and (max-width: 1660px) {
  .meta .notification {
    margin-bottom: 10px;
    font-size: 12px; /* Adjust text size */
  }

  /* Enemy Movement Summary adjustments */
  .meta .summary p {
    font-size: 14px; /* Adjust text size */
    line-height: 1.5;
  }

  .meta .child-sensor h5 {
    font-size: 16px;
    font-weight: bold;
  }

  .meta .child-sensor p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .meta {
    flex-direction: row; /* Change to horizontal stacking */
  }

  .meta .card {
    flex: unset; /* Reset flex for better responsiveness */
    width: 50%; /* Each card takes 50% width */
  }
}

.main-meta-card {
  padding-left: 1rem;
}

.card {
  margin: 10px;
  /* padding: 10px; */
}


.mission-control-wrapper {
  margin-top: 10px; /* Adjust this value to control the gap */
}

/* .alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 8px;
  border-radius: 8px;
  background-color: #bb1a1a; 
  color: white;
  font-weight: bold;
  border: 1px solid #b52828;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.alert button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.alert button:hover {
  color: #b71c1c;
} */

.alert {
  display: flex;
}

.alert p {
  margin: 0;
  flex: 1; 
}

.notification-wrapper{
  padding: 0 10px;
}

.no-alert{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .card-wrapper{
  padding: 0  10px;
} */
.heading{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0;
  background-color: #F2F0F0;
}
hr{
  margin-top: 0;
  margin-bottom: 0;
}

.content{
  padding: 0 10px;
}
.sensors {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  font-size: large;
  width: 100%;
}

.child-sensor {
  padding: 10px;
  flex: 1 1 45%;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid lightgrey;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.child-sensor:hover {
  background-color: #f0f8ff;
  border-color: #007bff;
  transform: scale(1.02);
  cursor: pointer;
}

.child-sensor h5{
  font-weight: 500;
  font-size: 17px;
}
.child-sensor .small-text {
  font-size: 0.75rem;
}
p{
  font-size: 14px;
}
.summary{
  margin-top: 10px;
}